<div class="column">
  <h2 class="title pb-4">Create new account:</h2>
  <hr>
  <form class="signup-form">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" />
    </div>
    <div>
      <label for="twitter">Twitter:</label>
      <input type="text" id="twitter" />
    </div>
    <div>
      <label for="git">Github:</label>
      <input type="text" id="git" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" />
    </div>
    <br>
    <div>
      <button type="submit" class="button is-warning">Signup</button>
    </div>
  </form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>